
.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
	margin-bottom: 100px;
}

.gridContainer {
	display: flex;
	justify-content: center;
}

.square {
	width: 40px;
	height: 40px;
	border: solid black;
}

h1 {
	font-size: 60px;
}

button {
	font-size: 30px;
	margin-top: 50px;
}
